<a href="https://colab.research.google.com/github/arthik1699/DATA690_Data_Visulaization_Statistics/blob/main/Assignment_05/Assignment05_Part08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data690 - Data Visualization & Statistics
## Assignment- 5

* Name - Arthi Komma
* Campus id - GF89659

## Part 8 - Python Basics



## Python in under 10 minutes

Ok, so this will techincally take us more than 10 minutes, but you get the idea: this is a very high level overview of the Python programming language. Specially for those of you that already know some other programming language (R, Javascript, Ruby, etc) and want to do the switch to Python.

### The high level

[Python](https://en.wikipedia.org/wiki/Python_%28programming_language%29) is a interpreted, high level programming language created by Dutch programmer [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum) and released in 1991.

As I always say, Python *is old*. It gained a lot of traction around 2006, with its popularity being driven its beauty and simplicity to do Web Development (its main Web Development Framework, [Django](https://www.djangoproject.com/), was released in 2006). From there, it took off as one of the most popular scripting languages.

Python is multi-paradigm: you can write code using Object Oriented, Functional and/or Imperative programming. Python is interpreted and uses a dynamic type system, although considered _strongly typed_.

It has an extensive builtin standard library with features that ranges from time management, to http servers, concurrency and async programming.

Python is Open Source and is managed by a non-profit organization: the [Python Software Foundation](https://en.wikipedia.org/wiki/Python_Software_Foundation).




# Syntax Overview

The following paragraphs will be dedicated to Python's syntax and technical details. There are more to Python than just syntax, as its community, events, email lists, etc. But after all, this is just a technical introduction.

### Indentation based

This might feel weird at first, but in Python we do NOT use curly braces to denote blocks of code. We use _"indentation"_ instead. This is similar to Ruby. For example, this is a very simple `add_numbers` function in javascript:

```javascript
function add_numbers(x, y){
    return x + y
}
```

In Python, we'd write it in this way:

In [148]:
def add_numbers(x, y):
    return x + y

An `if-else` block in Javascript:

```javascript
let language = "Python"

if (language === "Python"){
    console.log("Let the fun begin");
} else {
    console.log("You sure?");
}
```

In Python:

In [149]:
# try changing "Python" to something else.
# Don't remove the quotes.
language = "Python"

if language == "Python":
    print("Let the fun begin!")
else:
    print("You sure?")

Let the fun begin!



## Comments

You've seen comments in the previous block of code: they're prefixed with a pound/hashtag sign:

In [150]:
# this is a comment

In [151]:
# it doesn't produce any output

In [152]:
# can be above...
print("Hello World")  # next to...
# or below your code

Hello World



## Variables

We've defined a variable `language` in one of our previous examples. In Python, you can set a variable at any time, in any block of code, by just assigning a valid name to any value you want:

In [153]:
name = "Mary"
print(name)

Mary

In [154]:
age = 30
print(age)

30

Variables, once set, will be preserved:

In [155]:
print(name, "is", age, "years old")

Mary is 30 years old



## Data Types

Python supports the most common data types, the usual suspects we could say:

## Integers, type `int`:

Integers have unlimited magnitude.

In [156]:
# an int
age = 30

In [157]:
age

30

In [158]:
type(age)

int

#### Floats, type `float`:

The standard floating point number

In [159]:
# a float
price = 2.50

In [160]:
price

2.5

In [161]:
type(price)

float

Remember that floats sometimes exhibit "extraneous" behavior:

In [162]:
0.1 * 3

0.30000000000000004

If you need decimal fixed point precision, you can use the [`decimal`](https://docs.python.org/3/library/decimal.html#module-decimal) module:

In [163]:
from decimal import Decimal

In [164]:
Decimal('0.1') * 3

Decimal('0.3')

#### Strings, type `str`

Strings are used to store text. Technically, they're _"immutable sequences of Unicode code points"_. Which means that Python supports Unicode:

In [165]:
# Create them with double quotes:
print("Hello unicode 👋")

Hello unicode 👋

In [166]:
# single quotes:
print('Omelette Du Fromage 🧀')

Omelette Du Fromage 🧀

In [167]:
type('Hello World')

str

In [168]:
len("Hello")

5

You can use double or single quotes, it's the same. We also have "multi-line" strings, that are created with a pair of 3 quotes (simple or double, either works):

In [169]:
joke = """
Me: What’s the best thing about Switzerland?
Friend: I don't know. What?
Me: I don’t know, but the flag is a big plus.
F: 😒
"""

print(joke)

Me: What’s the best thing about Switzerland?
Friend: I don't know. What?
Me: I don’t know, but the flag is a big plus.
F: 😒

#### Booleans, type `bool`

Python booleans are as simple as they get: `True` and `False`, **capitalized**.

In [170]:
True

True

In [171]:
type(False)

bool

#### None, type `NoneType`

As other languages have `null`, in Python we have `None`, which pretty much represents the absence of value:

In [172]:
x = None

In [173]:
x

In [174]:
print(x)

None

In [175]:
type(None)

NoneType



## `int`, `float`, `str` and `bool` objects and functions

You'll often see some of these _"keywords/names"_ used both as functions and as individual objects. When used as functions, their usage is to transform/cast objects into its corresponding type. Example:

In [176]:
age_as_string = "28"

In [177]:
type(age_as_string)

str

In [178]:
int(age_as_string)

28

In [179]:
age = int(age_as_string)

In [180]:
type(age)

int

Their use as objects is mainly associated with their type:

In [181]:
type(13) == int

True



## Functions

We've seen a couple of functions defined already, but let's dig a little bit deeper. Functions in Python are very intuitive. Let's start with an example of a function without parameters:

In [182]:
def hello():
    return "Hello World"

The `def` keyword indicate the _definition_ of a function, followed by a name and a list of arguments (which this function doesn't receive). The `return` statement is used to break the flow of the function and return a value back to the caller:

In [183]:
result = hello()

In [184]:
result

'Hello World'

If a function doesn't explicitly include a `return` statement, Python will return `None` by default:

In [185]:
def empty():
    x = 3

In [186]:
result = empty()

In [187]:
print(result)

None

#### Receiving parameters

There's a lot that can be done with Python parameters; including default and named parameters, and even variable/dynamic ones. But for now, we'll just focus on the basics. Function parameters are listed at the function definition, and they're part of the function's local scope:

In [188]:
def add(x, y):
    return x + y

In [189]:
add(2, 3)

5

We can also define functions that accept variable number of arguments, using the star args `*`:

In [190]:
def add(*args):
    return sum(args)

In [191]:
add(1, 1, 1)

3

In [192]:
add(1)

1



## Operators

Both arithmetic and boolean operators are available, for example:

### Arithmetic operators

In [193]:
3 + 3

6

In [194]:
11 % 7

4

In [195]:
2 ** 4

16

Precedence can be consulted on [the official docs](https://docs.python.org/3/reference/expressions.html#operator-precedence). But, for the most part, the precedence is similar to the usual in arithmetic:

In [196]:
3 + 4 * 5

23

In [197]:
3 + 4 * 2**3

35

#### Boolean operators

Regular comparison operators are available:

In [198]:
7 > 3

True

In [199]:
8 >= 8

True

We said that Python is strongly typed, so comparison between different types will fail if these types are not compatible:

Python also has other common boolean operators like `and`, `or`, `not`, etc. They are short circuited, as most modern programming languages:

In [200]:
#True and True

In [201]:
#not False

In [202]:
#False or True



## Control Flow

Python supports the most common control flow blocks. Keep in mind they're defined with indentation.

### If/else/elif statements

In [203]:
days_subscribed = 28

In [204]:
if days_subscribed >= 30:
    print("Loyal customer")
elif days_subscribed >= 15:
    print("Halfway there")
elif days_subscribed >= 1:
    print("Building confidence")
else:
    print("Too early")

Halfway there

#### For loops

For loops in Python are different than other languages, specially those C/Java-inspired languages. In Python, `for` loops are designed to iterate over collections (we'll see collections later). But keep that in mind.

In [205]:
names = ['Monica', 'Ross', 'Chandler', 'Joey', 'Rachel']

In [206]:
for name in names:
    print(name)

Monica
Ross
Chandler
Joey
Rachel

#### While loops

While loops are seldom used in Python. For loops are the preferred choice 99% of the time. Still, they're available and are useful for some situations:

In [207]:
count = 0

In [208]:
while count < 3:
    print("Counting...")
    count += 1

Counting...
Counting...
Counting...

There's another block to mention, `try/except`, but it's in the **_Exceptions_** section.



## Collections

Python has multiple versatile collection types, each with different features and capabilities. These are the most common collections we'll explore:

* Lists
* Tuples
* Dictionaries
* Sets

Even though they all have different capabilities, there is one common property to all of them, and it's that Python collections are heterogeneous, that is, you can mix multiple types. That **doesn't mean we should** mix types, usually it's better to have a consistent collection. But it's still possible.

#### Lists

Lists are mutable, ordered sequences. We could argue, the most common collection type.

In [209]:
l = [3, 'Hello World', True]

In [210]:
len(l)

3

List elements are accessed using sequential indices (starting from `0`):

In [211]:
l[0]

3

In [212]:
l[1]

'Hello World'

Negative indices are also supported:

In [213]:
l[-1]

True

In [214]:
l[-2]

'Hello World'

Lists have many useful methods to add/remove elements:

In [215]:
l.append('Python 🐍')

In [216]:
l

[3, 'Hello World', True, 'Python 🐍']

In [217]:
'Python 🐍' in l

True

In [218]:
'Ruby ♦️' in l

False

#### Tuples

Tuples are very similar to lists, but with a huge difference: **they're immutable**. That means, once a tuple is created, it can't be further modified:

In [219]:
t = (3, 'Hello World', True)

Indexing them works in the same way:

In [220]:
t[0]

3

In [221]:
t[-1]

True

In [222]:
'Hello World' in t

True

But there's no way of modifying them.

#### Dictionaries

Dictionaries are map-like collections that store values under a user-defined key. The key must be an immutable object; we usually employ strings for keys. Dictionaries are mutable, and more importantly, **unordered**.

In [223]:
user = {
    "name": "Mary Smith",
    "email": "mary@example.com",
    "age": 30,
    "subscribed": True
}

In [224]:
user

{'name': 'Mary Smith',
 'email': 'mary@example.com',
 'age': 30,
 'subscribed': True}

Access is by key, also using square brackets:

In [225]:
user['email']

'mary@example.com'

In [226]:
'age' in user

True

In [227]:
'last_name' in user

False

#### Sets

Sets are unordered collection which the unique characteristic that they only contain unique elements:

In [228]:
s = {3, 1, 3, 7, 9, 1, 3, 1}

In [229]:
s

{1, 3, 7, 9}

Adding elements is done with the `add` method:

In [230]:
s.add(10)

Removing elements can be done with `pop()`:

In [231]:
s.pop()

1



## Iterating collections

As mentioned in the control flow section, Python's `for` loop is specially designed to iterate over collections:

In [232]:
l = [3, 'Hello World', True]

In [233]:
for elem in l:
    print(elem)

3
Hello World
True

In [234]:
for key in user:
    print(key.title(), '=>', user[key])

Name => Mary Smith
Email => mary@example.com
Age => 30
Subscribed => True



## Modules

One of the best features of Python as a language, is its rich builtin library. To use external modules, you must first import them:

In [235]:
import random

In [236]:
random.randint(0, 99)

7



### Exceptions

Exceptions are raised at runtime when an abnormal situation is produced in your program. Exceptions can also be constructed and raised by your code. Example of an exception:

In [237]:
age = 30

In [238]:
if age > 21:
    print("Allowed entrance")

Allowed entrance

Exceptions can be handled at runtime with a `try/except` block:

In [239]:
try:
    if age > 21:
        print("Allowed entrance")
except:
    print("Something went wrong")

Allowed entrance

The `except` portion can receive also be parametrized with the expected exception:

In [240]:
try:
    if age > 21:
        print("Allowed entrance")
except TypeError:
    print("Age is probably of a wrong type")

Allowed entrance