<a href="https://colab.research.google.com/github/arthik1699/DATA690_Data_Visulaization_Statistics/blob/main/Assignment_06/assignments/assignment_06_colleges2/assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 06
### Note:
- For visualization, you should use Matplotlib, seaborn, or Plotly Express 
- Use this notebook as your template and follow the instructions

The first half of this assignment is similar to assignment 04.

This gives you a chance to refresh.

The second half is new and gives you a chance to perform additional practices.

You also get a chance to use some of the Python libraries and techniques.

The links to the zip file is:

- https://collegescorecard.ed.gov/data (This web page contains the link to the zip file)

- https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip (The link to the zip file)

You can run `!wget` command in Colab notebook to retrieve it directly, then run `!unzip` command to extract files (I have provided the cells to do so next for your convenience)

Your folder structure should look like this in your Colab enviroment:

- ...
- 'MERGED1996_97_PP.csv',
- 'MERGED2015_16_PP.csv',
- ...
- 'MERGED2017_18_PP.csv'
- ...

**Note: you should refresh the folder to see all files.**

## Step 1 - Retrieve the zip file

In [1]:
!wget https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip

--2022-10-08 02:19:38--  https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip
Resolving ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)... 160.1.161.208, 3.30.138.208, 2600:1f12:18a:7d01:ad67:f64c:95d6:78ed, ...
Connecting to ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)|160.1.161.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 410294884 (391M) [application/zip]
Saving to: ‘CollegeScorecard_Raw_Data_09012022.zip’

CollegeScorecard_Ra 100%[===================>] 391.29M  31.6MB/s    in 11s

2022-10-08 02:19:49 (36.6 MB/s) - ‘CollegeScorecard_Raw_Data_09012022.zip’ saved [410294884/410294884]

## Step 2 - Unzip the zip file

In [2]:
!unzip CollegeScorecard_Raw_Data_09012022.zip

Archive:  CollegeScorecard_Raw_Data_09012022.zip
 extracting: Crosswalks.zip
  inflating: data.yaml
  inflating: FieldOfStudyData1415_1516_PP.csv
  inflating: FieldOfStudyData1516_1617_PP.csv
  inflating: FieldOfStudyData1617_1718_PP.csv
  inflating: FieldOfStudyData1718_1819_PP.csv
  inflating: MERGED1996_97_PP.csv
  inflating: MERGED1997_98_PP.csv
  inflating: MERGED1998_99_PP.csv
  inflating: MERGED1999_00_PP.csv
  inflating: MERGED2000_01_PP.csv
  inflating: MERGED2001_02_PP.csv
  inflating: MERGED2002_03_PP.csv
  inflating: MERGED2003_04_PP.csv
  inflating: MERGED2004_05_PP.csv
  inflating: MERGED2005_06_PP.csv
  inflating: MERGED2006_07_PP.csv
  inflating: MERGED2007_08_PP.csv
  inflating: MERGED2008_09_PP.csv
  inflating: MERGED2009_10_PP.csv
  inflating: MERGED2010_11_PP.csv
  inflating: MERGED2011_12_PP.csv
  inflating: MERGED2012_13_PP.csv
  inflating: MERGED2013_14_PP.csv
  inflating: MERGED2014_15_PP.csv
  inflating: MERGED2015_16_PP.csv
  inflating: MERGED2016_17_PP.csv
  inflating: MERGED2017_18_PP.csv
  inflating: MERGED2018_19_PP.csv
  inflating: MERGED2019_20_PP.csv
  inflating: MERGED2020_21_PP.csv
  inflating: Most-Recent-Cohorts-Field-of-Study.csv
  inflating: Most-Recent-Cohorts-Institution.csv

## Step 3 - Import Libraries

In [3]:
#(Write code below)
import pandas as pd
import os

In [5]:
# This is not a good practice. A lot of repetitions.
# Not recommended

df_2020 = pd.read_csv("/content/MERGED2020_21_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2020["year"] = 2020
df_2019 = pd.read_csv("/content/MERGED2019_20_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2019["year"] = 2019
df_2018 = pd.read_csv("/content/MERGED2018_19_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2018["year"] = 2018
df_2017 = pd.read_csv("/content/MERGED2017_18_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2017["year"] = 2017
df_2016 = pd.read_csv("/content/MERGED2016_17_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2016["year"] = 2016
df_2015 = pd.read_csv("/content/MERGED2015_16_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2015["year"] = 2015
df_2014 = pd.read_csv("/content/MERGED2014_15_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2014["year"] = 2014
df_2013 = pd.read_csv("/content/MERGED2013_14_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2013["year"] = 2013
df_2012 = pd.read_csv("/content/MERGED2012_13_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2012["year"] = 2012
df_2011 = pd.read_csv("/content/MERGED2011_12_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2011["year"] = 2011
df_2010 = pd.read_csv("/content/MERGED2010_11_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2010["year"] = 2010
df_2009 = pd.read_csv("/content/MERGED2009_10_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2009["year"] = 2009
df_2008 = pd.read_csv("/content/MERGED2008_09_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2008["year"] = 2008
df_2007 = pd.read_csv("/content/MERGED2007_08_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2007["year"] = 2007
df_2006 = pd.read_csv("/content/MERGED2006_07_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2006["year"] = 2006
df_2005 = pd.read_csv("/content/MERGED2005_06_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2005["year"] = 2005
df_2004 = pd.read_csv("/content/MERGED2004_05_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2004["year"] = 2004
df_2003 = pd.read_csv("/content/MERGED2003_04_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2003["year"] = 2003
df_2002 = pd.read_csv("/content/MERGED2002_03_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2002["year"] = 2002
df_2001 = pd.read_csv("/content/MERGED2001_02_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2001["year"] = 2001
df_2000 = pd.read_csv("/content/MERGED2000_01_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_2000["year"] = 2000
df_1999 = pd.read_csv("/content/MERGED1999_00_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_1999["year"] = 1999
df_1998 = pd.read_csv("/content/MERGED1998_99_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_1998["year"] = 1998
df_1997 = pd.read_csv("/content/MERGED1997_98_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_1997["year"] = 1997
df_1996 = pd.read_csv("/content/MERGED1996_97_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_1996["year"] = 1996


#.... (more code)
# df_2020 = pd.read_csv("/content/MERGED2020_21_PP.csv")
# df_all = pd.concat([df_1996, df_1997, ...., df_2020])
df_all = pd.concat([df_2020, df_2019, df_2018, df_2017, df_2018, df_2017, df_2016, df_2015, df_2014, df_2013, df_2012, df_2011, df_2010, df_2009, df_2008, df_2007, df_2006, df_2005, df_2004, df_2003, df_2002, df_2001, df_2000, df_1999, df_1998, df_1997, df_1996])

df_all.sample(10)

,UNITID,INSTNM,TUITIONFEE_IN,year
6809,16884710,Baker College Center for Graduate Studies,12510.0,2017
7625,45321503,Strayer University-Piscataway,12975.0,2015
6539,448017,Institute of Health & Technology,NaN,2007
1218,147165,Midstate College,9900.0,2005
2927,196121,SUNY Brockport,4350.0,2005
4030,213826,Marywood University,NaN,1998
6270,444699,Institute of Clinical Acupuncture & Oriental Med,NaN,2007
2202,167020,Everest Institute-Brighton,NaN,1997
5893,442888,InterCoast Colleges-Riverside,NaN,2011
3443,210739,DeSales University,25800.0,2008

## Step 4 - Display the current working directory using os.getcwd()

You would need to import a standard Python library called os which stands for operating system. so place that import statement in the previous cell. Since your notebook and your data files may or may not in the same folder, you want to make sure what the current working folder is and how to access a data file in a different folder.

In [6]:
#(Write code below)
os.getcwd()

'/content'

## Step 5 - Get the list of file names

os library has a method call listdir which generates a list of files in a directory/folder. Use this method to assign the contents (list of file names) of the data folder to a variable and display it. If necessary, you can use ../ construct to traverse to the parent folder and then to another foloder parallel to the current folder

In [7]:
#(Write code below)
name_list = os.listdir()
name_list

['.config',
 'MERGED2006_07_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED1998_99_PP.csv',
 'Crosswalks.zip',
 'MERGED2012_13_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2014_15_PP.csv',
 'Most-Recent-Cohorts-Field-of-Study.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2016_17_PP.csv',
 'FieldOfStudyData1718_1819_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2005_06_PP.csv',
 'FieldOfStudyData1516_1617_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED1996_97_PP.csv',
 'FieldOfStudyData1415_1516_PP.csv',
 'FieldOfStudyData1617_1718_PP.csv',
 'MERGED2017_18_PP.csv',
 'data.yaml',
 'Most-Recent-Cohorts-Institution.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2020_21_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip',
 'MERGED2001_02_PP.csv',
 'sample_data']

## Step 6 - Process only the yearly data files

The folder contains files that are not the yearly data files. Write code to remove the unwanted files from the list variable.

Note: don't remove/delete these files from the folder in the folder.
For example, use the file extension to only use the csv files or use the name patter - data file name begins with "MERGED". You can use the concept of list comprehension to write just *one* line of code as well as using a for loop, your choice.

In [ ]:
#(Write code below)
# using loop
x = [1,3,6,8]
y = []
for num in x:
    y.append(num ** 2)

y

[1, 9, 36, 64]

In [ ]:
# using loop with condition
x = [1,3,6,8]
y = []

for num in x:
    if num % 2 == 0:
       y.append(num ** 2)

y

[36, 64]

In [ ]:
# using List comprehension
y = [num **2 for num in x]
y

[1, 9, 36, 64]

In [ ]:
# using List comprehension with condition
y = [num **2 for num in x if num % 2 == 0]
y

[36, 64]

In [8]:
yearly_list = [file_name for file_name in name_list if file_name.startswith("MERGED")]

yearly_list

['MERGED2006_07_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2020_21_PP.csv',
 'MERGED2001_02_PP.csv']

## Step 7 - Load data files
 
Now that you have a clean list of the yearly files, you want to loop through them and read them into a dataframe one at a time. You only load six columns: ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].

You should use "usecols" option of Pandas to avoid reading unwanted columns. You also want to add a new column call "YEAR" to differentiate the data frames from each other. The YEAR variable should be yyyy format so tht you can convert them into integer. If you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer. If you use scatter plot, the YEAR needs to be converted to integer or float. 

You would use an empty list and append the yearly dataframes to the list. After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a new single data frame.

Note: this exercise incorporates many techques we learned before:

- list (creating an empty, append an item to the list)
- for loop 
- read only the needed columns from a file (using usecols option)
- add a new column to a data frame
- concatenate multiple dataframes into a single one

This exercise may appear challenging but it worths the effort. You will learn a lot and love it. I promise.

In [9]:
x = "MERGED2020_21_PP.csv"

x[6:10]

'2020'

In [10]:
#(Write code here)

# df_all = pd.DataFrame()  this empty dataframe does not work for the append method.

yearly_list.sort()

print("processing file", yearly_list[0])
df_all = pd.read_csv("/content/" + yearly_list[0], usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_all["year"] = yearly_list[0][6:10]
print(df_all.shape)

for yearly_file in yearly_list[1:]:
    print("processing file", yearly_file)
    df = pd.read_csv("/content/" + yearly_file, usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
    df["year"] = yearly_file[6:10]
    df_all = df_all.append(df, ignore_index = True)
    print(df_all.shape)

processing file MERGED1996_97_PP.csv
(7007, 4)
processing file MERGED1997_98_PP.csv
(13941, 4)
processing file MERGED1998_99_PP.csv
(20643, 4)
processing file MERGED1999_00_PP.csv
(27252, 4)
processing file MERGED2000_01_PP.csv
(33906, 4)
processing file MERGED2001_02_PP.csv
(40631, 4)
processing file MERGED2002_03_PP.csv
(47283, 4)
processing file MERGED2003_04_PP.csv
(53956, 4)
processing file MERGED2004_05_PP.csv
(60703, 4)
processing file MERGED2005_06_PP.csv
(67602, 4)
processing file MERGED2006_07_PP.csv
(74553, 4)
processing file MERGED2007_08_PP.csv
(81524, 4)
processing file MERGED2008_09_PP.csv
(88579, 4)
processing file MERGED2009_10_PP.csv
(95796, 4)
processing file MERGED2010_11_PP.csv
(103266, 4)
processing file MERGED2011_12_PP.csv
(111012, 4)
processing file MERGED2012_13_PP.csv
(118874, 4)
processing file MERGED2013_14_PP.csv
(126743, 4)
processing file MERGED2014_15_PP.csv
(134509, 4)
processing file MERGED2015_16_PP.csv
(142175, 4)
processing file MERGED2016_17_PP.csv
(149413, 4)
processing file MERGED2017_18_PP.csv
(156525, 4)
processing file MERGED2018_19_PP.csv
(163332, 4)
processing file MERGED2019_20_PP.csv
(170026, 4)
processing file MERGED2020_21_PP.csv
(176707, 4)

In [11]:
df_all.sample(10)

,UNITID,INSTNM,TUITIONFEE_IN,year
144141,178484,National Academy of Beauty Arts-St Louis,NaN,2016
62732,169910,Ferris State University,6686.0,2005
100977,410520,Sage College,11825.0,2010
76881,179308,Saint Louis Community College,2430.0,2007
110733,11835603,Marinello School of Beauty-Reseda,NaN,2011
123875,413626,Leech Lake Tribal College,4580.0,2013
97034,149772,Western Illinois University,10149.0,2010
5931,368540,Seguin Beauty School-New Braunfels,NaN,1996
2792,178299,MISSOURI SCHOOL OF BARBERING & HRSTLG-INDEPEND...,NaN,1996
124430,440776,Interactive College of Technology,NaN,2013

## Step 8 - Explore the new dataframe 

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc.

In [13]:
#(Write code here)
#to find number of observations
print("Number of Observations")
df_all.count()

Number of Observations

UNITID           176707
INSTNM           176707
TUITIONFEE_IN     86867
year             176707
dtype: int64

In [17]:
#to find number of variables
print("Number of Variables")
df_all.value_counts()

Number of Variables

UNITID    INSTNM                                               TUITIONFEE_IN  year
100654    Alabama A & M University                             3040.0         2002    1
226329    Lon Morris College                                   13572.0        2009    1
226383    Lubbock Christian University                         12710.0        2005    1
                                                               11994.0        2004    1
                                                               11452.0        2003    1
                                                                                     ..
173647    Gustavus Adolphus College                            33500.0        2010    1
                                                               31760.0        2009    1
                                                               30400.0        2008    1
                                                               28515.0        2007    1
49576723  Pennsylvania State University-Penn State Brandywine  14486.0        2020    1
Length: 86867, dtype: int64

In [18]:
df_all.head()

   UNITID                                  INSTNM  TUITIONFEE_IN  year
0  100636      Community College of the Air Force            NaN  1996
1  100654                Alabama A & M University            NaN  1996
2  100663     University of Alabama at Birmingham            NaN  1996
3  100672  ALABAMA AVIATION AND TECHNICAL COLLEGE            NaN  1996
4  100690                      Amridge University            NaN  1996

In [19]:
df_all.tail()

,UNITID,INSTNM,TUITIONFEE_IN,year
176702,49576719,Pennsylvania State University-Penn State Wilke...,13604.0,2020
176703,49576720,Pennsylvania State University-Penn State York,14486.0,2020
176704,49576721,Pennsylvania State University-Penn State Great...,NaN,2020
176705,49576722,Pennsylvania State University-Penn State Harri...,15216.0,2020
176706,49576723,Pennsylvania State University-Penn State Brand...,14486.0,2020

In [20]:
df_all.sample(5)

,UNITID,INSTNM,TUITIONFEE_IN,year
155748,484871,Rabbinical College Ohr Yisroel,9000.0,2017
134140,11835615,Marinello School of Beauty-Lomita,NaN,2014
106010,196088,University at Buffalo,7482.0,2011
106682,213002,Brightwood Career Institute-Pittsburgh,NaN,2011
174231,418968,Tint School of Makeup and Cosmetology-Dallas,NaN,2020

In [23]:
df_all.isnull()

        UNITID  INSTNM  TUITIONFEE_IN   year
0        False   False           True  False
1        False   False           True  False
2        False   False           True  False
3        False   False           True  False
4        False   False           True  False
...        ...     ...            ...    ...
176702   False   False          False  False
176703   False   False          False  False
176704   False   False           True  False
176705   False   False          False  False
176706   False   False          False  False

[176707 rows x 4 columns]

In [29]:
df_2 = df_all[["TUITIONFEE_IN"]]
df_2
print("sum : ", df_2.sum())
print("maximum", df_2.max())
print("minimum", df_2.min())
print("variance", df_2.var())
print("standard deviation", df_2.std())

sum :  TUITIONFEE_IN    1.045669e+09
dtype: float64
maximum TUITIONFEE_IN    74787.0
dtype: float64
minimum TUITIONFEE_IN    0.0
dtype: float64
variance TUITIONFEE_IN    1.094737e+08
dtype: float64
standard deviation TUITIONFEE_IN    10462.970227
dtype: float64

## Step 9 - UMBC 

The dataframe contains many years of data of all U.S. colleges. let's just look at UMBC. Filter/query the dataframe to retrieve only rows that belong to UMBC (one row represent one year). Save the UMNC data to a new data frame. using a new variable for the UMBC data frame, so that the old big data frame is still available for later use.

In [31]:
#(Write code here)
df_3 = df_all[df_all["INSTNM"].str.contains("University of Maryland-Baltimore County")]
df_3

        UNITID                                   INSTNM  TUITIONFEE_IN  year
2151    163268  University of Maryland-Baltimore County            NaN  1996
9056    163268  University of Maryland-Baltimore County            NaN  1997
15923   163268  University of Maryland-Baltimore County            NaN  1998
22598   163268  University of Maryland-Baltimore County            NaN  1999
29178   163268  University of Maryland-Baltimore County         5490.0  2000
35821   163268  University of Maryland-Baltimore County         5910.0  2001
42524   163268  University of Maryland-Baltimore County         6362.0  2002
49156   163268  University of Maryland-Baltimore County         7388.0  2003
55786   163268  University of Maryland-Baltimore County         8020.0  2004
62522   163268  University of Maryland-Baltimore County         8520.0  2005
69401   163268  University of Maryland-Baltimore County         8622.0  2006
76332   163268  University of Maryland-Baltimore County         8708.0  2007
83291   163268  University of Maryland-Baltimore County         8780.0  2008
90324   163268  University of Maryland-Baltimore County         8872.0  2009
97506   163268  University of Maryland-Baltimore County         9171.0  2010
104960  163268  University of Maryland-Baltimore County         9467.0  2011
112672  163268  University of Maryland-Baltimore County         9764.0  2012
120503  163268  University of Maryland-Baltimore County        10068.0  2013
128353  163268  University of Maryland-Baltimore County        10384.0  2014
136064  163268  University of Maryland-Baltimore County        11006.0  2015
143685  163268  University of Maryland-Baltimore County        11264.0  2016
150891  163268  University of Maryland-Baltimore County        11518.0  2017
157940  163268  University of Maryland-Baltimore County        11778.0  2018
164723  163268  University of Maryland-Baltimore County        12028.0  2019
171401  163268  University of Maryland-Baltimore County         9420.0  2020

## Step 10 - Explore the new dataframe

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc

In [37]:
#(Write code here)
print("Number of Observations : ")
df_3.count()

Number of Observations :

UNITID           25
INSTNM           25
TUITIONFEE_IN    21
year             25
dtype: int64

In [36]:
print("Number of Variables :")
df_3.value_counts()

Number of Variables :

UNITID  INSTNM                                   TUITIONFEE_IN  year
163268  University of Maryland-Baltimore County  5490.0         2000    1
                                                 9420.0         2020    1
                                                 11778.0        2018    1
                                                 11518.0        2017    1
                                                 11264.0        2016    1
                                                 11006.0        2015    1
                                                 10384.0        2014    1
                                                 10068.0        2013    1
                                                 9764.0         2012    1
                                                 9467.0         2011    1
                                                 9171.0         2010    1
                                                 5910.0         2001    1
                                                 8872.0         2009    1
                                                 8780.0         2008    1
                                                 8708.0         2007    1
                                                 8622.0         2006    1
                                                 8520.0         2005    1
                                                 8020.0         2004    1
                                                 7388.0         2003    1
                                                 6362.0         2002    1
                                                 12028.0        2019    1
dtype: int64

In [38]:
df_3.head()

       UNITID                                   INSTNM  TUITIONFEE_IN  year
2151   163268  University of Maryland-Baltimore County            NaN  1996
9056   163268  University of Maryland-Baltimore County            NaN  1997
15923  163268  University of Maryland-Baltimore County            NaN  1998
22598  163268  University of Maryland-Baltimore County            NaN  1999
29178  163268  University of Maryland-Baltimore County         5490.0  2000

In [39]:
df_3.tail()

        UNITID                                   INSTNM  TUITIONFEE_IN  year
143685  163268  University of Maryland-Baltimore County        11264.0  2016
150891  163268  University of Maryland-Baltimore County        11518.0  2017
157940  163268  University of Maryland-Baltimore County        11778.0  2018
164723  163268  University of Maryland-Baltimore County        12028.0  2019
171401  163268  University of Maryland-Baltimore County         9420.0  2020

In [41]:
df_3.sample(5)

        UNITID                                   INSTNM  TUITIONFEE_IN  year
69401   163268  University of Maryland-Baltimore County         8622.0  2006
2151    163268  University of Maryland-Baltimore County            NaN  1996
120503  163268  University of Maryland-Baltimore County        10068.0  2013
35821   163268  University of Maryland-Baltimore County         5910.0  2001
62522   163268  University of Maryland-Baltimore County         8520.0  2005

In [42]:
df_3.isnull()

        UNITID  INSTNM  TUITIONFEE_IN   year
2151     False   False           True  False
9056     False   False           True  False
15923    False   False           True  False
22598    False   False           True  False
29178    False   False          False  False
35821    False   False          False  False
42524    False   False          False  False
49156    False   False          False  False
55786    False   False          False  False
62522    False   False          False  False
69401    False   False          False  False
76332    False   False          False  False
83291    False   False          False  False
90324    False   False          False  False
97506    False   False          False  False
104960   False   False          False  False
112672   False   False          False  False
120503   False   False          False  False
128353   False   False          False  False
136064   False   False          False  False
143685   False   False          False  False
150891   False   False          False  False
157940   False   False          False  False
164723   False   False          False  False
171401   False   False          False  False

In [44]:
print("sum", df_3[["TUITIONFEE_IN"]].sum())
print("minimum", df_3[["TUITIONFEE_IN"]].min())
print("maximum", df_3[["TUITIONFEE_IN"]].max())
print("variance", df_3[["TUITIONFEE_IN"]].var())
print("standard deviation", df_3[["TUITIONFEE_IN"]].std())

sum TUITIONFEE_IN    192540.0
dtype: float64
minimum TUITIONFEE_IN    5490.0
dtype: float64
maximum TUITIONFEE_IN    12028.0
dtype: float64
variance TUITIONFEE_IN    3.437620e+06
dtype: float64
standard deviation TUITIONFEE_IN    1854.082079
dtype: float64

## Step 11 - Plot UMBC's in-state tuition overtime Bar Chart

In [ ]:
#(Write code here)

## Step 12 - Plot UMBC's in-state tuition overtime using line Chart

In [ ]:
#(Write code here)

## Step 13 - Tuition Growth Rate

Now let's look at the tuition growth rate year over year. We need to calculate UMBC tuition change percentage each year. First convert the TUITIONFEE_IN column to a Python List

In [ ]:
#(Write code here)

## Step 14 - Loop through the list and calculate the % change each year over the prior year

This takes some effort. Not hard, just some abstract/logical thinking and some experiments. Have fun on this one.

In [ ]:
 #(Write code here)

## Step 15 - Round up the percentage to two decimal points

The resulting number has many decimal points which are unnecessary and not visually appealing. You can use for loop. Or better, use list comprehension for simplicity/brevity.

In [ ]:
#(Write code here)

## Step 16 - Add the list of the percentages to the dataframe as a new column ("PCT_CHANGE")

Not as hard as you may think. If you get stuck, you think too hard. Google it and you will find the answer.

In [ ]:
#(Write code here)

## Step 17 - Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

In [ ]:
# (write code here)

## Step 18 - Define Growth Rate Function

Since we want to do the same calculation for JHU. Instead of doing it piecemeal as we did for UMBC. Let's create a function which can be reused for any college. This function takes a list of tuitions and return a list of percentage changes year over year. This function can be used later.

In [ ]:
#(Write code here)

## Step 19 - Get JHU Data

The dataframe contains many years of data of all U.S. colleges. Let's just look at JHU. Filter/query the dataframe to retrieve only rows that belong to JHU. Save the JHU data to a new data frame using a new variable so that the old big data frame is still available for later use.

In [ ]:
#(Write code here)

## Step 20 - Plot JHU's in-state tuition overtime

Let's plot bar and then line chart.

In [ ]:
# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

#(Write code here)

## Step 21 - Calculate Tuition Growth Rate using the Function defined earlier

In [ ]:
# Write code here

## Step 22 - Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

In [ ]:
#(Write code here)

## Step 23 - Plot the JHU percentage changes tuitions over time

Bar plot first, then line plot.

In [ ]:
#(Write code here)

## Step 24 - Compare UMBC and JHU 

In order to plot both UMBC and JHU tuition change over time in the same plot, we need to combine the two datasets using the common key of YEAR. 

First make a umbc2 dataframe with only two columns needed. We don't need other columns. Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge. This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE", we rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully, Feel free to try it without changing the column names.

In [ ]:
#(Write code here)

## Step 25 

Then make a jhu2 dataframe with only two columns needed. WE don't need other columns. Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

In [ ]:
#(Write code here)

## Step 26 - Merger the two data frames and display the new dataframe

In [ ]:
#(Write code here)

## Step 27 - Plot UMBC and JHU separately on the same line plot

In [ ]:
#(Write code here)

## Step 28 - Document your observation of the comparison plots using the following Markdown cell

#### Based on my observation of the plots
#### blah, blah 
#### blah, blah
#### ...
#### blah, blah

In [ ]:
# The end.